multi-agent-research-orchestrator.json
{
  "updatedAt": "2026-07-08T19:56:13.569Z",
  "createdAt": "2026-05-13T20:01:01.495Z",
  "id": "hQbnqOq6TlojRd9T",
  "name": "Multi-Agent Topic Research Orchestrator",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "62bbb065-8a90-468c-b2f3-c58e0aece886",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const topics = ['NZ job market','NZ politics and elections','London fintechs','AI automation'];\nreturn topics.map(topic => ({ json: { topic } }));"
      },
      "id": "cee5c0a7-2431-4b46-844d-d4f80d5de28d",
      "name": "Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {},
      "id": "3785b945-5d91-4520-9972-3c0c0c8014c0",
      "name": "Merge - Aggregate All Topics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -32,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "pageSize",
              "value": "3"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "language",
              "value": "en"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth"
      },
      "id": "39284f9c-21fe-4219-9ac0-b9dddf3a11fa",
      "name": "Agent 1 - Research (NewsAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        416
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqNwAIW0BweUtFhv",
          "name": "NewsAPI Key (Multi-Agent Research)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topic = $('Split In Batches').item.json.topic;\nconst arts = ($input.first().json.articles || []).slice(0, 3);\nwhile (arts.length < 3) arts.push({ title: 'No article', description: 'Not available' });\nconst lines = arts.map((a, i) => (i + 1) + '. ' + (a.title || '').replace(/[\\r\\n\\t]/g, ' ') + ': ' + (a.description || '').replace(/[\\r\\n\\t]/g, ' '));\nconst content = \"Here are three recent news headlines about '\" + topic + \"':\\n\\n\" + lines.join('\\n') + \"\\n\\nSummarise these into exactly two plain English sentences explaining what is happening in this topic area right now.\";\nreturn [{ json: { requestBody: JSON.stringify({ model: 'gpt-4o-mini', max_tokens: 300, messages: [{ role: 'user', content }] }) } }];"
      },
      "id": "71fbc703-82e6-4ad9-b27c-2f4b04e5cae6",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "25b2c212-a9aa-41b3-9876-2b8f8812b56a",
      "name": "Agent 2 - Summary (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        416
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "b2kR3Gf88ZZe218z",
          "name": "OpenAI Bearer (Multi-Agent Research)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-topic",
              "name": "topic",
              "value": "={{ $('Split In Batches').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "field-research",
              "name": "research_headlines",
              "value": "={{ $('Agent 1 - Research (NewsAPI)').item.json.articles.map(a => ({ title: a.title, description: a.description })) }}",
              "type": "array"
            },
            {
              "id": "field-summary",
              "name": "summary",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ef1f689f-673e-4c9e-a3b9-ecd82e8fdc20",
      "name": "Format Topic Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f25e62bb-2316-4184-98be-c03790b7cb76",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet html = '<div style=\"font-family: Arial, sans-serif; max-width: 700px; margin: 0 auto; color: #222;\">';\nhtml += '<h1 style=\"background: #1a1a2e; color: #fff; padding: 20px; border-radius: 8px; font-size: 22px;\">Your Daily News Digest</h1>';\nfor (const item of items) {\n  const { topic, summary, research_headlines } = item.json;\n  html += '<div style=\"margin-bottom: 32px; border-left: 4px solid #4f8ef7; padding-left: 16px;\">';\n  html += '<h2 style=\"color: #1a1a2e; font-size: 18px; margin-bottom: 8px;\">' + topic + '</h2>';\n  html += '<p style=\"background: #f0f4ff; padding: 12px; border-radius: 6px; font-size: 15px; line-height: 1.6; margin-bottom: 12px;\">' + (summary || 'No summary available') + '</p>';\n  html += '<p style=\"font-weight: bold; font-size: 13px; color: #555; margin-bottom: 6px;\">HEADLINES</p>';\n  html += '<ol style=\"margin: 0; padding-left: 20px;\">';\n  if (Array.isArray(research_headlines)) {\n    research_headlines.forEach(h => {\n      html += '<li style=\"font-size: 14px; margin-bottom: 4px; color: #333;\">' + (h.title || 'No title') + '</li>';\n    });\n  }\n  html += '</ol></div>';\n}\nhtml += '</div>';\nreturn [{ json: { emailBody: html } }];"
      },
      "id": "89d9c7d0-0a5e-4377-a016-4503433cafd0",
      "name": "Build Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        192
      ]
    },
    {
      "parameters": {
        "sendTo": "medicherlasaicharan@gmail.com",
        "subject": "Your News Digest",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ef9d56cd-74e8-4123-b884-71edff6862f5",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        192
      ],
      "webhookId": "7bf89066-578a-436f-904a-5c4784ecec24",
      "credentials": {
        "gmailOAuth2": {
          "id": "PLpFwAKg3DWzPBf6",
          "name": "Gmail account 5"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Aggregate All Topics": {
      "main": [
        [
          {
            "node": "Build Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1 - Research (NewsAPI)": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Agent 2 - Summary (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2 - Summary (OpenAI)": {
      "main": [
        [
          {
            "node": "Format Topic Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Topic Output": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Merge - Aggregate All Topics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent 1 - Research (NewsAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Body": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "f5d7af20-eadd-4a9b-a208-000e59975386",
  "activeVersionId": null,
  "versionCounter": 61,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-13T20:01:01.501Z",
      "createdAt": "2026-05-13T20:01:01.501Z",
      "role": "workflow:owner",
      "workflowId": "hQbnqOq6TlojRd9T",
      "projectId": "MwjMrFk7U9dhS6up",
      "project": {
        "updatedAt": "2025-12-16T19:09:19.704Z",
        "createdAt": "2025-12-16T19:09:14.341Z",
        "id": "MwjMrFk7U9dhS6up",
        "name": "Sai Charan Bharadwaj Medicherla <medicherlasaicharan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "00666b43-0b51-4a55-b9f5-90653f80a5be"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}